@{
	var actionName = Context.Request.RouteValues["action"]?.ToString();
	string ActiveClasses(string[] names)
	{
		foreach (var name in names)
		{
			if (actionName == name)
			{
				return "active";
			}
		}
		return "";
	}
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Urdan - @ViewBag.Title</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" />
	<link rel="stylesheet" href="~/lib/animate/animate.css" />
	<link rel="stylesheet" href="~/lib/swiper/package/swiper-bundle.min.css" />
	<link rel="stylesheet" href="~/lib/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
	<link rel="stylesheet" href="~/lib/aos-master/dist/aos.css" />
	<link rel="stylesheet" href="~/lib/themify-icons/themify-icons.css" />
	<link rel="stylesheet" href="~/css/main-bundle.min.css" />
</head>
<body>
	<partial name="_Header" />
	<partial name="_Breadcrumb" />
	<section class="pt-100 pb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4">
					<ul class="account-menu nav flex-column">
						<li>
							<a asp-action="Index" class="@ActiveClasses(new string[] {"Index"})">Dashboard</a>
						</li>
						<li>
							<a asp-action="Orders" class="@ActiveClasses(new string[] {"Orders"})">Orders</a>
						</li>
						<li>
							<a asp-action="Addresses" class="@ActiveClasses(new string[] {"Addresses","AddAddress","EditAddress"})">Addresses</a>
						</li>
						<li>
							<a asp-action="Details" class="@ActiveClasses(new string[] {"Details"})">Account Details</a>
						</li>
						<li>
							<a asp-action="Logout">Logout</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-9 col-md-8">
					<div class="account-content">
						@RenderBody()
					</div>
				</div>
			</div>
		</div>
	</section>

	<partial name="_Footer" />
	<button type="button" class="scrollUp" title="Go to top">
		<i class="ti-arrow-up"></i>
	</button>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/swiper/package/swiper-bundle.min.js"></script>
	<script src="~/lib/aos-master/dist/aos.js"></script>
	<script src="~/lib/easyzoom/dist/easyzoom.js"></script>
	<script src="~/lib/magnific-popup/magnific-popup.min.js"></script>
	<script src="~/js/main-bundle.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
